body {
  margin: 0px;
}
#head {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgb(228, 225, 225);
}
#head > div {
  width: 75%;
  height: 65%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#number {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #979797;
  margin-top: 50px;
}
#middle_box {
  width: 75%;
  height: 600px;
  /* border: 1px solid rgb(173, 170, 170); */
  margin: auto;
  margin-top: 20px;
  display: flex;
  gap: 2%;
}
#address {
  flex: 14;
  border: 1px solid rgb(201, 198, 198);
}
#voucher_summary {
  flex: 5;
  /* border: 1px solid rgb(233, 231, 134); */
  font-family: sans-serif;
}
#vou {
  background-color: whitesmoke;
  width: 100%;
  height: 20%;
  padding-top: 5%;
}
#vou > div {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}
#vou_btn {
  margin-left: 5%;
  height: 30%;
  width: 90%;
  border: 1px solid #8dbdf8;
  background-color: #e8f1fc;
  color: #007bff;
  text-decoration: underline;
}
#apl_btn {
  width: 30%;
  padding: 10px;
  /* border:none; */
}
#code {
  width: 70%;
  border: 1px solid rgb(228, 225, 225);
}
#sum {
  height: 35%;
  width: 100%;
  background-color: whitesmoke;
  border: 1px solid transparent;
}
#cost {
  background-color: white;
  width: 90%;
  height: 80%;
  margin: auto;
  margin-top: 15px;
}
.values {
  height: 50%;
  border: 1px solid rgb(223, 217, 217);
}
/* .noBorder{
  border:1px solid transparent
} */
.basket_value {
  height: 50%;
  width: 90%;
  display: flex;
  justify-content: space-between;

  margin: auto;
}
#Rs1 {
  width: 30%;

  padding-top: 15px;
  text-align: center;
}
#Rs2 {
  width: 30%;

  padding-top: 15px;
  text-align: center;
}
#Rs3 {
  width: 30%;
  padding-top: 15px;
  text-align: center;
}
.total {
  font-weight: 700;
}

#last {
  width: 90%;
  height: 40%;
  background-color: #edf6df;
  margin: auto;
  border: 1px solid transparent;
}
#last_inside {
  height: 70%;
  width: 80%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  color: #b5d33e;
}
#last_inside p {
  margin-top: 7px;
}
#Rs4 {
  margin-top: 7px;
  padding-right: 5px;
}

#location {
  display: flex;
  font-family: sans-serif;
  font-weight: 500;
  color: #666666;

  margin-bottom: 25px;
}
.add {
  padding: 10px;
  color: black;
}
#credentials {
  width: 95%;
  margin: auto;
  height: 500px;
  border: 1px solid transparent;
  background-color: whitesmoke;
}
.person {
  color: #888585;
  font-family: sans-serif;
  margin-bottom: 10px;
  margin-left: 1.5%;
}
.name_line {
  display: flex;
  gap: 15px;
  width: 97%;
  margin: auto;
}
.name_line > div {
  /* border:1px solid black; */
  height: 60px;
  flex: 1;
}
.name_line > div:nth-child(3) {
  flex: 2;
}

.name {
  display: flex;
  flex-direction: column;
}
.name > label {
  font-family: sans-serif;
  color: #888585;
  font-size: 13px;
  margin-bottom: 7px;
}
.name > input {
  height: 25px;
  border: none;
}
.star {
  color: red;
  vertical-align: 0%;
  font-size: 120%;
}
.x {
  padding-top: 3.5px;
}
.first_add > div:nth-child(2) {
  flex: 3;
}
.sec_add {
  margin-top: 5px;
  margin-bottom: 5px;
}
.gap {
  margin-top: 30px;
}
.third_add > div:nth-child(1) {
  flex: 1;
}
.third_add > div:nth-child(2) {
  flex: 2;
}
.third_add > div:nth-child(3) {
  flex: 1;
}
#nick {
  font-family: sans-serif;
  color: #888585;
  font-size: 13px;
  margin-bottom: 7px;
  margin-left: 10px;
}
#choose {
  width: 30%;
  height: 30px;
  margin-left: 10px;
  /* border:1px solid black; */
  display: flex;
  color: #888585;
  font-family: sans-serif;
  font-size: 13px;

  gap: 10px;
}
#choose > div {
  border: 1px solid #888585;
  width: 30%;
  padding: 7px;
  padding-top: 5px;
  text-align: center;
}

#set_btn {
  width: 130px;
  height: 40px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #888585;
  color:white;
  border:none;
  
}
#set_btn:hover{
cursor: pointer;
}
#msg {
  width: 821px;

  margin-left: 189.5px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(201, 198, 198);
}
#msg > div {
  border: 1px solid rgb(201, 198, 198);
  width: 821px;
  height: 80px;
}
#msg > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
#add_msg {
  width: 130px;
  height: 25px;
  border: 1px solid rgb(150, 146, 146);
  color: black;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
  margin-right: 18px;
}
#msg > div:nth-child(3) {
  margin-bottom: 30px;
}
.with_icon {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 15px;
}
.with_icon > span {
  margin-top: 12px;
}
#apl_btn:hover{
  box-shadow: rgba(189, 185, 185, 0.35) 0px -50px 36px -28px inset;
  cursor: pointer;

}
#msg > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
#pay_btn{
  margin-right:19px;
  width:250px;
  height:60px;
  background-color: yellowgreen;
  color: white;
  font-size: 15px;
  margin-top: 10px;
  border: none;
}
