*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
}
.nav{
    width: 100%;
    height: 130px;
    margin-bottom: 0px;
    margin-left:9%;
    margin-right: 9%;
    display: flex;
}
.nav > .one{
    width:15%;
    height: 100%;
}
.one>.logo{
    height: 60%;
}
.logo>a> img{
    width: 80%;
    height: 100%;
}
.one > .menu{
    background-color: rgb(132,194,37);
    height: 29%;
    color: white;
}
.menu > p{
    padding-top: 5%;
    padding-left: 2%;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 9px;
}
.menu > p > .fa-angle-down{
    margin-left: 18%;
}
.two{
    width: 40%;
} 
.two > .num{
   flex-flow: column;
   float: right;
   width: 100%;
   text-align: right;
}


.three{
    height: 75%;
    width: 25%;
}
.search{
    margin-top: 40px;
    
}
#searchbar{
    width: 85%;
    height: 30px;
    outline: none;
}
#btn{
    border: none;
    width: 7%;
    height:37px;
    background-color: rgb(132,194,37);
    color: white;
}
.offers{
    border-top: 1px solid rgb(235, 232, 232);
    border-right: 1px solid rgb(235, 232, 232);
    margin-top: 20px;
    padding: 5px;
    font-size: 15px;
    width: 161%;
}
.ofr:hover{
   padding:5px 0px;
    background-color:rgb(132,194,37);
}
.fa-tag{
    color: red;
    margin-left: 10px;
}
.fa-home{
    margin-left: 30px;
    color:rgb(132,194,37);
}
.spcl:hover{
    background-color:rgb(132,194,37);
    color: white;
    padding:5px 0px;
    padding-right: 4px;
}
.location{
    margin-bottom: 5px;
    margin-left: 10px;
    width: 97%;
    display: flex;
}
.fa-map-marker-alt{
    margin: 0px 5px 0px 5px;
}
.fa-user{
    margin-left: 70px;
}
.location > a{
    margin-left: 5px;
    text-decoration: none;
    color: black;
}
.location > a:hover{
    color:rgb(132,194,37);
}
.btn1{
    width: 40%;
    height: 77%;
    justify-content: flex-end;
    float: right;
    border: none;
}
.btn1 a{
    text-decoration: none;
    color: black;
} 
.fa-shopping-basket{
    margin-top: 5px;
    margin-right: 5px;
    color:rgb(218,37,29);
}
.btn1 a > span{
    font-size: 16px;
}
.btn1 a > p{
    margin-left: 30%;
    margin-top: 0px;
}

/* dropdown menu bar */
.dropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width:15%;
    z-index: 1;
  }

.dropdown ul {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left; 
  }
.menu:hover .dropdown {
    display: block;
  }
ul > li > a{
    text-decoration: none;
    color: gray;
}
ul > li {
    padding:10px;
    text-align: left;
    left: 100%;
}
ul > li :hover{
    text-decoration: none;
    color: black;
}


/* Footer */

.footer{
    width: 100%;
    height: 850px;
    margin-top: 50px;
    
}
.footer > .box{
    width: 80%;
    height: 50%;
    margin-left: 10%;
    margin-right: 105;
    border-bottom: 1px dotted rgb(223, 215, 215);
    display: flex;
}
.f1{
    width: 25%;
    height: 100%;
}
.f1 > p > a{
    text-decoration: none;
    color: gray;
}
#fbrand{
    font-size: 18px;
    color:rgb(132,194,37);
}
#fdes{
    font-size: 14px;
}
#fdes:hover{
    color:rgb(132,194,37);
}
.f3 > img{
    margin-top: 5px;
}
.f4 > a> {
    text-decoration: none;
}
.f4 > a > .fab{
    font-size: 35px;  
    margin-left: 5px;
}
.fa-facebook{
   color: rgb(59,89,152);
}
.fa-pinterest{
    color: rgb(219,50,54);
}
.fa-twitter{
    color: rgb(0,172,237);
}
.fa-instagram{
    color: rgb(81,127,164);
}
.cat{
    display: flex;
    width: 80%;
    height: 37%;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 5px;
}
.headingcat{
    width: 20%;
    color:rgb(132,194,37);
    font-size: 15px;
}
.headingcat > p{
    padding: 15px 5px 10px 20px;
}
#cities{
    padding-top: 24px;
}
#las{
    padding-top: 55px;
}

.descat{
    width: 80%;
}
.descat > p{
    padding: 5px 5px 10px 20px;
}
#brands > a{
    text-decoration: none;
    color: gray;
}
#brands > a:hover{
    text-decoration: none;
    color: rgb(132,194,37);
}
#brands{
    color: gray;
}
#paymentcard{
    display: flex;
}
#paymentcard > span{
    margin: 10px;
}

#footerpayment{
    width: 70px;
    height: 30px;
}
#cashon{
    font-size: 16px;
    font-weight:bold;
    display: inline-flex;
    width: 55px;
    color: gray;
}
#footerpayment5{
    width: 90px;
    height: 30px;
}
#footerpayment6{
    width: 50px;
    height: 30px;
}

.copyright{
    width: 100%;
    margin-top: 4%;
    height:5%;
    border: 1px soild black;
    background-color: rgb(234,234,234);
}
.copyright > p{
    margin-left: 10%;
    font-size: 14px;
    padding-top: 1%;
    color: gray;
}
/* Footer end */


.slideshow-container{
  margin-top: 50px;
  margin-right: 2%;
}

.text {
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    width: 5%;
    margin-left: 50%;
    text-align: center;
    border-bottom: 4px solid rgb(132,194,37);
  }
  .text >span{
      color: rgb(223, 215, 215);
      font-size: 12px;
  }
 
  .box1{
      margin-top:5%;
      margin-left:9%;
      margin-right:9%;
  }
  .box1 > img{
      margin-left: 5px;
      margin-right:5px;
  }
  .box1 > img:nth-child(1){
    margin-right:5px;
}
.box1 > img:nth-child(6){
    margin-right:0px;
}
  .bank{
      margin-top:6%;
      margin-left: 9%;
      margin-right: 9%;
  }
  .bank > .title{
      font-size:25px;
      text-align: center;
      padding-bottom: 5px;
      border-bottom: 1px solid rgb(223, 215, 215);
      margin-bottom: 1%;
  }
  .sub > img{
      width:24%;
      margin-left: 4px;
      margin-right: 4px
  }
  .sub > img:nth-child(1){
    width:24%;
    margin-right: 4px;
}
  .sub> img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.best{
    text-align: center;
    margin-top:2%;
    margin-left: 9%;
    margin-right: 9%;
    font-size:25px;
    text-align: center;
}
.bone{
    padding-bottom: 1%;
    border-bottom: 1px solid rgb(223, 215, 215);
}
.items{
    margin-top:1%;
    margin-right: 9%;
    width:100%;
    display: flex;
}
.items > div{
    border: 1px solid rgb(223, 215, 215);
    width: 20%;
    height:100%;
}
.items > div:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.itemOne{
    margin-right:20px
}
.gap{
    margin-left:0px;
}
.itemOne > img{
    width: 80%;
}
.itemOne > p:nth-child(1){
    font-size: 10px;
    padding: 3px;
    text-align: right;
    color: rgb(225,86,90);
    font-weight: bold;
    margin-left:10px;
    margin-right:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.itemOne > p:nth-child(3){
    font-size: 10px;
    text-align: left;
    padding-left:10px;
    margin-bottom: 0px;
    color: rgb(223, 215, 215);
}
.itemOne > p:nth-child(4){
    font-size: 15px;
    text-align: left;
    padding-left:9px;
}
.itemOne > p:nth-child(5){
    font-size:13px;
    border: 1px solid rgb(223, 215, 215);
    text-align: left;
    margin-left:10px;
    margin-right:10px;
    padding: 3px;
    color:rgb(223, 215, 215);
}
.itemOne > p:nth-child(6){
    text-align: left;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:10px;
    margin-right:10px;
    padding: 3px;
    color:rgb(223, 215, 215);
}
.spanOne{
    text-decoration: line-through;
    font-size:9px;
    text-align: left;
}
.spanTwo{
    font-size:13px;
    color:black;
}
.itemOne > p:nth-child(7){
    text-align: left;
    font-size:11px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:10px;
    margin-right:10px;
    padding: 3px;
}
.itemOne > p:nth-child(8){
    text-align: left;
    font-size:11px;
    margin-top:0px;
    margin-left:10px;
    margin-right:10px;
    padding: 3px;
}
.itemOne > p:nth-child(9){
    text-align: left;
    font-size:13px;
    margin-top:0px;
    margin-left:10px;
    margin-right:10px;
    padding: 3px;
}
.qty{
    padding: 4px 15px 4px 15px;
    border: 1px solid rgb(223, 215, 215);
}
.qtyb{
    background-color:rgb(249,218,121);
    border:none;
    padding: 5px 25px 5px 25px;
}
.popular > div:nth-child(1){
    font-size:25px;
    text-align: center;
    margin-top:4%;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(223, 215, 215);
    margin-bottom: 1%;
    margin-left: 9%;
    margin-right: 9%;
}
.popularOne{
    padding-bottom: 5px;
    margin-bottom: 1%;
    margin-left: 9%;
    margin-right: 9%;
    display: flex;
}
.popularTwo{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(223, 215, 215);
    margin-right:2%;
}
.popularTwo:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.popularTwo >img{
    width:100%;
    
}
.fruit{
    display:flex;
    margin-left: 9%;
    margin-right: 9%;
}
.fruitOne{
    width:50%;
    height:100%;
    border:1px solid rgb(223, 215, 215);
}
.fruitTwo{
    width:50%;
    height:98%;
    border:1px solid rgb(223, 215, 215);
    display:flex;
    margin-left: 2%;
}
.innerFruitOne{
    margin-left: 3%;
}
.innerFruitTwo{
    margin-left: 2%;
}
.inner{
    border:1px solid rgb(223, 215, 215);
    margin: 5px;
}
.inner > img{
    width:97%
}
.staple{
    display:flex;
    margin-left: 9%;
    margin-right: 9%;
    height: 100%;
}
.innerStaple{
    border: 1px solid rgb(223, 215, 215);
    width: 20%;
    height: 100%;
    margin: 5px;
}
.innerStaple:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.innerStaple > img{
    width: 100%;
}
.footerdes{
    margin-top:3%;
    margin-left: 9%;
    margin-right: 9%;
    border: 1px solid black;
    height:100%;
    padding-left:10px;
    padding-bottom:15px;
    padding-right: 10px;
}
.Foottitle{
    font-size:30px;
}
.Footcontent{
    font-size:15px;
    color:gray;
}
.Footcontent > a{
    color:rgb(88,200,37);
    text-decoration:none;
    font-weight:bold;
}
.footerdes > button{
    padding:3px;
}